<<<<<<< HEAD
body {
  background-image: url("../images/psychic.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

h1, h2, h3, p {
  color: white;
  font-family: 'Actor', Times, Times New Roman, serif;
  font-weight: bold; 
}

h3, h2, .container {
  margin-top: 50px;
}

.list-group-item {
background-color: transparent;
border: 0;
}
=======
body {
  background-image: url("../images/psychic.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

h1, h2, h3, p {
  color: white;
  font-family: 'Actor', Times, Times New Roman, serif;
  font-weight: bold; 
}

h3, h2, .container {
  margin-top: 50px;
}

.list-group-item {
background-color: transparent;
border: 0;
}
>>>>>>> b2086144204f6ea18ea943517d67b6cdea4fcf15
